<!DOCTYPE html>
<html xmlns:th= "http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "layout"
      lang="fr"
>
<head>
  <meta charset="UTF-8">
  <title>Récapulatifs</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">

  <div class="container col-md-6 marge">
    <div class="panel panel-default">
      <div class="panel-heading" > Information de Livraison</div>
      <div class="panel-body">
          <div class="form-group">
            <label  class="form-label">Nom: </label>
            <input th:text="${customer.name}" class="form-control" name="name" th:value="${customer.name}">
            <span th:errors="${customer.name}"></span>
          </div>
          <div class="form-group">
            <label  class="form-label">Prénom: </label>
            <input  th:text="${customer.sname}" class="form-control" name="sname" th:value="${customer.sname}">
            <span th:errors="${customer.sname}"></span>
          </div>
          <div class="form-group">
            <label  class="form-label">Email: </label>
            <input  th:text="${customer.email}" class="form-control" name="email" th:value="${customer.email}">
            <span th:errors="${customer.email}"></span>
          </div>
          <div class="form-group">
            <label  class="form-label">Adresse: </label>
            <input  th:text="${customer.adresse}" class="form-control" name="adresse" th:value="${customer.adresse}">
            <span th:errors="${customer.adresse}"></span>
          </div>
          <div class="form-group">
            <label  class="form-label">Phone: </label>
            <input  th:text="${customer.phone}" class="form-control" name="phone" th:value="${customer.phone}">
            <span th:errors="${customer.phone}"></span>
          </div>
      </div>
    </div>
  </div>
  <div class="container col-md-6 marge">
    <div class="panel panel-default">
      <div class="panel-heading" > Information de Livraison</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr th:each="a:${cart}">
              <td th:text="${a.description}"></td>
              <td th:text="${a.brand}"></td>
              <td th:text="${a.price}"></td>
              <td th:text="${a.quantity}"></td>
          </tr>
          <tr>
            <td colspan="2" class="text-right">Montant total: </td>
            <td th:text="${total}"></td>
          </tr>
        </table>
        <a class="btn btn-success text-center" th:href="@{/order}">Précedent</a>
        <a class="btn danger text-center" th:href="@{/confirm}">Valider Commande</a>
      </div>
      </div>
  </div>
</div>
</body>
</html>