<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org"
                xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SHOP MVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  th:href="@{/index}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/article}">Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 3</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="container-fluid" th:each="categorie : ${categories}">
        <div class="d-flex">
            <div class="d-flex justify-content-between">
                <a class="link-underline-dark me-3"  th:href="@{/index(category_id=${categorie.id})}" th:text="${categorie.name}"></a>

            </div>
        </div>

    </div>
</nav>

  <section layout:fragment="content"></section>


</body>
</html>