<!DOCTYPE html>
<html xmlns:th= "http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "layout"
      lang="fr"
>
<head>
  <meta charset="UTF-8">
  <title>Mes articles</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="col-md-4 col-xs-8">
          <div class="panel panel-primary">
            <div class="panel-heading">Modifier un article</div>
            <div class="panel-body container">
                  <form th:action="@{/save}" method="post" >
                    <div class="form-group">
                      <label  class="form-label">Id</label>
                      <input  readonly type="text" class="form-control" name="id" th:value="${article.id}">
                    </div>
                    <div class="form-group">
                      <label  class="form-label">Marque</label>
                      <input type="text" class="form-control" name="brand" th:value="${article.brand}">
                      <span  th:errors="${article.brand}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label  class="form-label">Description</label>
                      <input type="text" class="form-control" name="description" th:value="${article.description}">
                      <span th:errors="${article.description}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label  class="form-label">Price</label>
                      <input type="number" name="price"  class="form-control" th:value="${article.price}">
                      <span th:errors="${article.price}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label  class="form-label">Quantity</label>
                      <input type="number" name="quantity"  class="form-control" th:value="${article.quantity}">
                      <span th:errors="${article.quantity}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label  class="form-label">Category</label>
                      <select name="category" class="form-control">
                        <option class="form-control"  th:each="category : ${categories}"  th:value="${category.id}" th:text="${category.name}"></option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Update article</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>